form.search{
    margin-top: 0.5rem;
    width: 80%;
    margin: auto;
    height: inherit;
  }
  
  form.search > input[type=text] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    height: inherit;
    border-radius: 8px 0 0 8px;
  }
    
  form.search > button {
    height: inherit;
    float: left;
    width: 20%;
    padding: 9px 0;
    /* background: #2196F3; */
    color: black;
    font-size: 1rem;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
  }